header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--dark-neutral-color);
  color: var(--light-neutral-color);
}
header a,
header a:visited {
  color: var(--light-neutral-color);
  text-decoration: none;
}
header a:hover,
header a:active {
  color: var(--light-accent-color);
}

header img {
  grid-row-start: 0;
  grid-row-end: span 2;
  grid-column-start: 0;
  grid-column-end: 1;
  align-self: center;
  height: 4rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-left: 0.5rem;
}

header div {
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: right;
  text-align: right;
  margin-top: 0.25rem;
  margin-right: 1rem;
  font-weight: lighter;
}
header div a:hover,
header div a:active {
  text-decoration: underline;
}

nav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

nav menu {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

nav menu li {
  list-style: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-wrap: nowrap;
}

nav menu li a {
  font-size: 1.5rem;
  padding: 0.5rem;
  display: inline-block;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-color: var(--dark-neutral-color);
  border-width: 1px;
  border-style: solid;
  font-weight: lighter;
}
nav menu li a:hover,
nav menu li a:active {
  border-color: var(--light-accent-color);
  border-bottom-color: var(--dark-neutral-color);
}

nav menu li a[aria-current="page"] {
  background-color: white;
  font-weight: bold;
  color: var(--dark-neutral-color);
  border-bottom-color: white;
}
nav button.hamburger {
  display: none;
}

/* wide screens... */
@media not only screen and (max-width: 790px) {
}
/* narrow screens... */
@media only screen and (max-width: 790px) {
  header {
    display: flex;
  }
  header img,
  header div,
  header nav {
    align-self: center;
  }
  header img {
    flex: 0 0 auto;
    height: 2rem;
  }
  header nav {
    flex: 0 0 auto;
  }
  header div {
    text-align: center;
    flex: 1 1 auto;
  }

  nav menu {
    position: fixed;
    top: -100%;
    left: 50%;
    width: 50%;
    flex-direction: column;
    background-color: var(--dark-neutral-color);
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    margin-left: 1rem;
    margin-right: 1rem;
  }

  nav menu.active {
    top: 0;
    padding-top: 3.5rem;
  }

  nav menu li {
    margin: 1.5rem 0;
  }
  nav menu li a {
    font-size: 3vw;
    padding: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
  }
  nav menu li a[aria-current="page"] {
    border-bottom-color: var(--dark-neutral-color);
  }
  nav menu li a:hover,
  nav menu li a:active,
  nav menu li a[aria-current="page"]:hover,
  nav menu li a[aria-current="page"]:active {
    border-color: var(--primary-accent-color);
  }

  /* Hamburger menu... */
  nav button.hamburger {
    display: block;
    cursor: pointer;
    background-color: var(--dark-neutral-color);
    border-width: 0;
    align-self: end;
    padding: 0.5rem;
  }
  nav button.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--light-neutral-color);
  }
  nav button.hamburger:hover .bar {
    background-color: var(--primary-accent-color);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
