:root {
  --primary-accent-color: #0197b8;
  --secondary-accent-color: #c119ca;
  --light-accent-color: #00b9e3;
  --dark-neutral-color: #475569;
  --light-neutral-color: #e2e8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Roboto Flex", sans-serif;
  accent-color: var(--primary-accent-color);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: 150%;
}

a,
a:visited {
  color: var(--primary-accent-color);
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--secondary-accent-color);
  text-decoration: underline;
}

main {
  padding: 0;
  height: max-content;
  background-color: white;
}

table thead {
  background-color: #aaaaaa;
  color: white;
}
table thead th {
  font-weight: lighter;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.2rem 0.6rem;
  border-style: solid;
  border-width: 2px;
  border-color: #eeeeee;
}
tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
tbody tr:nth-child(even) td {
  border-right-color: white;
}
tbody tr:nth-child(even) td:last-child {
  border-right: none;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody td {
  vertical-align: top;
}
td pre {
  margin: 0;
  font-size: 90%;
}
h1,
h2,
h3 {
  color: var(--dark-neutral-color);
  white-space: balance;
}
h1 {
  font-size: 200%;
}
h2 {
  margin-top: 4rem;
}
h3 {
  margin-top: 2rem;
}
main {
  padding: 1rem;
}
p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  white-space: balance;
}
article {
  max-width: clamp(320px, 90%, 800px);
  margin: auto;
  font-size: 1.25rem;
  margin-bottom: 8rem;
  margin-top: 6rem;
}
article * {
  text-rendering: optimizeLegibility;
}
em {
  text-emphasis-style: triangle;
  text-emphasis-color: #f0f0f0;
  text-emphasis-position: under;
  font-style: normal;
}
ul {
  margin: 1rem 2rem;
}
ul li {
  margin: 0.5rem 0;
}
fieldset {
  border: none;
}
input[type="text"],
input[type="email"] {
  padding: 0.2rem 0.5rem;
  border-width: 1px;
  border-radius: 0.2rem;
  border-color: gray;
  font-size: 1rem;
}
button,
input[type="button"],
input[type="submit"] {
  padding: 0.3rem 0.5rem;
  margin: 0rem;
  border-width: 1px;
  border-radius: 0.4rem;
  border-color: var(--primary-accent-color);
  color: var(--primary-accent-color);
  background-color: white;
  box-shadow: none;
  outline: none;
  background: none;
  cursor: pointer;
}
button:hover,
input[type="button"]:hover {
  color: white;
  background-color: var(--primary-accent-color);
  border-color: var(--primary-accent-color);
}
input[type="submit"],
button.cta {
  background-color: var(--primary-accent-color);
  color: white;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}
input[type="submit"]:hover,
button.cta:hover {
  background-color: var(--secondary-accent-color);
  color: white;
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  color: lightgray;
  border-color: lightgray;
  cursor: default;
}
button:disabled img {
  filter: grayscale(1) opacity(0.2);
}
button img {
  position: relative;
  top: 0.1em;
  height: 1em;
  padding-right: 0.5em;
  /* calculated using https://codepen.io/sosuke/pen/Pjoqqp */
  filter: invert(42%) sepia(64%) saturate(3505%) hue-rotate(163deg) brightness(94%) contrast(99%);
}
button:hover img,
button.cta img,
input[type="submit"] img {
  filter: brightness(0) invert(1);
}

input[type="color"] {
  border-radius: 5px;
  padding: 0;
  border-width: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: lightgray;
  outline: none;
  opacity: 0.8;
  transition: opacity 0.4s;
  border-radius: 15px;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media selectors */
@media (pointer: coarse) {
  .non-touch-screen-only {
    display: none;
  }
}

@media not (pointer: coarse) {
  .touch-screen-only {
    display: none;
  }
}
