:root {
  --primary-accent-color: #0ac1e8;
  --secondary-accent-color: #86238c;
  --dark-neutral-color: #475569;
  --light-neutral-color: #e2e8f0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Roboto Flex", sans-serif;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:visited {
  color: #007cc3;
}
a:hover,
a:active {
  color: #003c5f;
  text-decoration: none;
}

main {
  padding: 0;
  height: max-content;
  background-color: white;
}

table thead {
  background-color: #aaaaaa;
  color: white;
}
table thead th {
  font-weight: lighter;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.2rem 0.6rem;
  border-style: solid;
  border-width: 2px;
  border-color: #eeeeee;
}
tbody tr:nth-child(even) {
  background-color: #eeeeee;
}
tbody tr:nth-child(even) td {
  border-right-color: white;
}
tbody tr:nth-child(even) td:last-child {
  border-right: none;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody td {
  vertical-align: top;
}
td pre {
  margin: 0;
  font-size: 90%;
}
svg {
  margin: 1rem;
}
h1 {
  background-color: black;
  color: white;
  display: inline-block;
}
main {
  padding: 1rem;
}
main p {
  margin-bottom: 10rem;
}
footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
}
footer span {
  display: inline-block;
  margin-left: 2rem;
  margin-right: 2rem;
}
footer span a {
  color: white;
}
