.standard-dialog-component {
  border-radius: var(--radius-xl);
  border-width: 0;
  margin: auto;
  box-shadow: var(--shadow-deep);
}
.standard-dialog-component::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  animation: fade 5s ease normal;
}
.standard-dialog-component .header {
  text-align: right;
}
.standard-dialog-component .header button {
  background: none;
  border: 1px solid var(--color-gray-lighter);
  border-radius: var(--radius-sm);
  color: var(--color-gray-dark);
  padding: var(--space-2xs) var(--space-sm);
  padding-right: 0.65rem;
  font-size: large;
  cursor: pointer;
  margin: 0.3em;
}
.standard-dialog-component .header button:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.standard-dialog-component form {
  padding: var(--space-md);
  padding-top: 0;
}
.standard-dialog-component .body {
  padding-bottom: var(--space-md);
}
.standard-dialog-component .footer {
  text-align: center;
}
.standard-dialog-component button.cta {
  padding-left: 4em;
  padding-right: 4em;
}
.standard-dialog-component .disclaimer {
  font-size: smaller;
  text-align: center;
  white-space: pretty;
  color: gray;
}
