:root {
  --header-height: 4.5rem;
}
header {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--color-primary-dark);
  color: var(--color-white);
  position: sticky;
  z-index: 1000;
  top: 0;
}
header a,
header a:visited {
  color: var(--color-white);
  text-decoration: none;
}
header a:hover,
header a:active {
  color: var(--color-primary-light);
}

header a#logo-link {
  position: absolute;
  grid-row-start: 0;
  grid-row-end: span 2;
  grid-column-start: 0;
  grid-column-end: 1;
  align-self: center;
  height: var(--header-height);
  width: var(--header-height);
  margin: var(--space-2xs);
  margin-left: var(--space-xs);
}

header div {
  grid-row-start: 0;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: right;
  text-align: right;
  margin-top: var(--space-2xs);
  margin-right: var(--space-md);
  font-weight: lighter;
}
header div a:hover,
header div a:active {
  text-decoration: underline;
}

nav {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
}

nav menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: var(--space-md);
}
nav menu li {
  list-style: none;
  text-wrap: nowrap;
}
nav menu li.nav-spacer {
  font-size: x-large;
  flex-grow: 1000;
  box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.3);
  align-self: flex-end;
  margin: 0;
}
nav menu li a {
  font-size: x-large;
  padding: var(--space-2xs) var(--space-ml);
  padding-bottom: 0;
  display: inline-block;
  border-top-left-radius: var(--space-xs);
  border-top-right-radius: var(--space-xs);
  border-color: var(--color-primary-dark);
  border-width: 1px;
  border-style: solid;
  font-weight: lighter;
  box-shadow: 0px 6px 5px -2px rgba(0, 0, 0, 0.3);
}
nav menu li a[aria-current="page"] {
  background-color: white;
  font-weight: bold;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
  border-bottom-color: white;
  text-decoration: none;
  cursor: default;
  box-shadow: 0px 6px 5px -2px rgba(255, 255, 255, 0.4);
  position: relative;
}

nav button.hamburger {
  display: none;
}

/* wide screens... */
@media not only screen and (max-width: 790px) {
}

/* narrow screens... */
@media only screen and (max-width: 790px) {
  :root {
    --header-height: 2rem;
  }
  header {
    display: flex;
    box-shadow: var(--shadow-deep);
    z-index: 100;
  }
  header a#logo-link,
  header div,
  header nav {
    align-self: center;
  }
  header a#logo-link {
    flex: 0 0 auto;
    height: var(--header-height);
    width: var(--header-height);
    margin: var(--space-2xs);
  }
  header nav {
    flex: 0 0 auto;
  }
  header div {
    text-align: center;
    flex: 1 1 auto;
    z-index: 101;
  }

  nav menu {
    position: fixed;
    top: -100%;
    left: 60%;
    width: 40%;
    flex-direction: column;
    background-color: var(--color-primary-dark);
    border-radius: 10px;
    text-align: center;
    transition: 0.5s;
    box-shadow: var(--shadow-deep);
    margin-left: 0;
    margin-right: 0;
    z-index: 99;
  }

  nav menu.active {
    top: var(--header-height);
    padding-top: var(--space-xs);
  }

  nav menu li {
    margin: var(--space-md) 0;
  }
  nav menu li a {
    font-size: large;
    padding: var(--space-xs) var(--space-lg);
    display: inline-block;
    border-radius: var(--radius-md);
    box-shadow: none;
  }
  nav menu li a[aria-current="page"] {
    border-bottom-color: var(--color-primary-dark);
    box-shadow: none;
  }
  nav menu li a:hover,
  nav menu li a:active {
    border-color: var(--color-primary);
  }

  /* Hamburger menu... */
  nav button.hamburger {
    display: block;
    cursor: pointer;
    background-color: var(--color-primary-dark);
    border-width: 0;
    align-self: end;
    padding: var(--space-xs);
    z-index: 101;
  }
  nav button.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-white);
  }
  nav button.hamburger:hover .bar {
    background-color: var(--color-primary);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
