:root {
  --color-primary: hsl(191, 99%, 36%);
  --color-primary-light: hsl(191, 100%, 45%);
  --color-primary-dark: hsl(191, 100%, 15%);
  --color-secondary: hsl(297, 78%, 45%);

  /* calculated using https://codepen.io/sosuke/pen/Pjoqqp */
  --color-filter-primary-from-black: invert(42%) sepia(64%) saturate(3505%) hue-rotate(163deg) brightness(94%)
    contrast(99%);
  --color-filter-disabled-from-black: grayscale(1) opacity(0.2);

  --color-black: #1a1a1a;
  --color-black-light: #282838;
  --color-gray-darker: #343d46;
  --color-gray-darker: #4b5864;
  --color-gray: #65737e;
  --color-gray-lightish: #a7b6c2;
  --color-gray-light: #c0c5ce;
  --color-gray-lighter: #e0e0ea;
  --color-gray-lightest: #f8f8f8;
  --color-white: rgba(255, 255, 255, 0.9);

  --shadow-shallow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  --shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
  --shadow-deep: 4px 4px 5px rgba(0, 0, 0, 0.3);

  --radius-sm: 0.33rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.8rem;
  --radius-xl: 1.2rem;

  --font-sans-serif: "Roboto Flex", sans-serif;
  --font-serif: "Noto Serif", serif;

  --font-size-3xl: 200%;

  --space-2xs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 0.75rem;
  --space-md: 1rem;
  --space-ml: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 4rem;
  --space-2xl: 6rem;
  --space-3xl: 12rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
button {
  font-family: var(--font-sans-serif);
  letter-spacing: 0.07rem;
  color: var(--color-black);
  accent-color: var(--color-primary);
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  line-height: 150%;
}

a,
a:visited {
  color: var(--color-primary);
  text-decoration: none;
}
a:hover,
a:active {
  color: var(--color-secondary);
  text-decoration: underline;
}
a.transparent,
a.transparent:visited,
a.transparent:hover,
a.transparent:active {
  color: var(--color-black);
  text-decoration: none;
  border: 1px solid transparent;
}
a.transparent:hover,
a.transparent:active {
  border: 1px solid var(--color-primary);
}

main {
  padding: var(--space-md);
  height: max-content;
  background-color: white;
}

table thead {
  background-color: var(--color-gray-lightish);
  color: white;
}
table thead th {
  font-weight: lighter;
  vertical-align: bottom;
}
table {
  border-collapse: collapse;
}
table td,
table th {
  padding: var(--space-2xs) var(--space-sm);
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-gray-light);
}
tbody tr:nth-child(even) {
  background-color: var(--color-gray-light);
}
tbody tr:nth-child(even) td {
  border-right-color: white;
}
tbody tr:nth-child(even) td:last-child {
  border-right: none;
}
tbody tr:nth-child(odd) {
  background-color: white;
}
tbody td {
  vertical-align: top;
}
td pre {
  margin: 0;
  font-size: smaller;
}
h1,
h2,
h3 {
  color: var(--color-primary-dark);
  white-space: balance;
}
h1 {
  font-size: var(--font-size-3xl);
}
h2 {
  margin-top: var(--space-xl);
}
h3 {
  margin-top: var(--space-lg);
}
p {
  margin-top: var(--space-md);
  margin-bottom: var(--space-lg);
  white-space: pretty;
}
dialog p {
  white-space: pretty;
  margin-bottom: var(--space-md);
}
dialog h3 {
  margin-top: 0;
}
article {
  color: var(--color-gray-darker);
  max-width: clamp(320px, 90%, 800px);
  margin: auto;
  font-size: larger;
  margin-bottom: var(--space-2xl);
  margin-top: var(--space-2xl);
}
article * {
  text-rendering: optimizeLegibility;
}
em {
  text-emphasis-style: triangle;
  text-emphasis-color: var(--color-gray-lighter);
  text-emphasis-position: under;
  font-style: normal;
}
ul {
  margin-top: calc(var(--space-ml) * -1);
  margin-left: var(--space-xl);
  margin-bottom: var(--space-lg);
  white-space: pretty;
}
ul li {
  margin: var(--space-sm) 0;
}
ul li::marker {
  content: "▶  ";
  color: var(--color-gray-lighter);
  font-size: 0.8rem;
}

fieldset {
  border: none;
}
input[type="text"],
input[type="email"] {
  padding: var(--space-2xs) var(--space-xs);
  border-width: 1px;
  border-radius: var(--radius-sm);
  border-color: var(--color-gray);
  font-size: medium;
}
button,
input[type="button"],
input[type="submit"] {
  padding: var(--space-2xs) var(--space-xs);
  margin: 0;
  border-width: 1px;
  border-radius: var(--radius-lg);
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: white;
  box-shadow: none;
  outline: none;
  background: none;
  cursor: pointer;
}
button:hover:enabled,
input[type="button"]:hover:enabled,
input[type="submit"]:enabled {
  color: var(--color-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled {
  color: var(--color-gray-light);
  border-color: var(--color-gray-light);
  cursor: default;
}
/* input[type="submit"],
button.cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow);
}
input[type="submit"]:hover,
button.cta:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
} */
/* button.icon-button:hover img,
button.cta img,
input[type="submit"] img {
  filter: brightness(0) invert(1);
} */
button.transparent,
button.transparent:hover {
  background-color: transparent;
  box-shadow: none;
  border: none;
  color: var(--color-black);
  font-size: initial;
  padding: 0;
  line-height: 0;
  border-radius: 0;
  text-align: initial;
}

input[type="color"] {
  padding: 0;
  border-width: 0;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--color-gray-light);
  outline: none;
  opacity: 0.8;
  transition: opacity 0.4s;
  border-radius: var(--radius-sm);
}

select {
  border-color: var(--color-gray-light);
}
select,
select option {
  accent-color: var(--color-primary); /* this doesn't actually work, but hopefully someday it will */
}
select:focus {
  border-color: white;
  outline: 1px solid var(--color-primary);
  border-radius: 0;
}

/* Animations */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Media selectors */
@media (pointer: coarse) {
  .non-touch-screen-only {
    display: none;
  }
}

@media not (pointer: coarse) {
  .touch-screen-only {
    display: none;
  }
}

@media (max-width: 675px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .hide-on-narrow-screens {
    display: none;
  }
  em {
    text-emphasis-style: none;
  }
}
