.icon-button:disabled img {
  filter: grayscale(1) opacity(0.2);
}
.icon-button img {
  position: relative;
  top: 0.1em;
  height: 1em;
  padding-right: 0.5em;
  /* calculated using https://codepen.io/sosuke/pen/Pjoqqp */
  /*todo: make this a variable */
  filter: invert(42%) sepia(64%) saturate(3505%) hue-rotate(163deg) brightness(94%) contrast(99%);
}

.cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow);
}
button.icon-button.cta:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
}
.cta img,
.icon-button:hover:enabled img {
  filter: brightness(0) invert(1);
}
