.icon-button:disabled img {
  filter: var(--color-filter-disabled-from-black);
}
.icon-button img {
  position: relative;
  top: 0.1em;
  height: 1em;
  padding-right: 0.5em;
  filter: var(--color-filter-primary-from-black);
}

.cta {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: var(--shadow);
}
button.icon-button.cta:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-white);
}
.cta img,
.icon-button:hover:enabled img {
  filter: brightness(0) invert(1);
}
